<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AppTags" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <AppTags>
    <DLC>DLC</DLC>
    <!--Original names line-->
    <AUTOSECTION>AUTO SECTION</AUTOSECTION>
    <FTSPMC>FTS PMC</FTSPMC>
    <FBDPMC>FBD PMC</FBDPMC>
    <EXTSTRAIGHTEN>EXT STRAIGHTEN</EXTSTRAIGHTEN>
    <HIDESHOW3D>HIDE SHOW 3D</HIDESHOW3D>
    <MULTI3DOPS>MULTI 3D OPS</MULTI3DOPS>
    <MEASURE3DDIM>MEASURE 3D DIM</MEASURE3DDIM>
    <NOTESUTILITY>NOTES UTILITY</NOTESUTILITY>
    <PINSPACE-PLACE>PIN SPACE-PLACE</PINSPACE-PLACE>
    <RENAMEENTITIES>RENAME ENTITIES</RENAMEENTITIES>
    <SMARTCVT>SMART CVT</SMARTCVT>
    <XYZCOORD>XYZ COORD</XYZCOORD>
    <!--Names to be change-->
    <DOUBLELINECHECKER>DLC</DOUBLELINECHECKER>
    <AUTOMATICSECTIONGENERATOR>AUTO SECTION</AUTOMATICSECTIONGENERATOR>
    <EXTRUSIONSTRAIGHTENING>EXT STRAIGHTEN</EXTRUSIONSTRAIGHTENING>
    <HIDESHOW3DENTITIES>HIDE SHOW 3D</HIDESHOW3DENTITIES>
    <MEASURE3DDIMENSIONS>MEASURE 3D DIM</MEASURE3DDIMENSIONS>
    <NOTESUTILITY>NOTES UTILITY</NOTESUTILITY>
    <MULTIPLE3DOPERATIONS>MULTI 3D OPS</MULTIPLE3DOPERATIONS>
    <BBB>BBB</BBB>
    <PINSPACINGANDPLACEMENT>PIN SPACE-PLACE</PINSPACINGANDPLACEMENT>
    <RENAMEENTITIES>RENAME ENTITIES</RENAMEENTITIES>
    <SMARTCVT>SMART CVT</SMARTCVT>
    <XYZCOORDINATEPLACEMENT>XYZ COORD</XYZCOORDINATEPLACEMENT>
    <TUBECHART>POINT CHART</TUBECHART>
    <!--OldNames-->
    <EXTRUSIONSTRAIGHTENINGNX>EXT STRAIGHTEN</EXTRUSIONSTRAIGHTENINGNX>
    <DOUBLELINECHECKERNX>DLC</DOUBLELINECHECKERNX>
    <NOTESUTILITYTITLEBLOCK>NOTES UTILITY</NOTESUTILITYTITLEBLOCK>
    <BBBCAA>BBB</BBBCAA>
    <SMARTCVTDESIGNTOOL>SMART CVT</SMARTCVTDESIGNTOOL>
    <SMARTCVTNX>SMART CVT</SMARTCVTNX>
    <PMCVALIDATION>FBD PMC</PMCVALIDATION>
    <FBDPMCVALIDATION>FBD PMC</FBDPMCVALIDATION>
    <FBDPMCEXECUTION>FBD PMC</FBDPMCEXECUTION>
    <FTSPMCVALIDATION>FTS PMC</FTSPMCVALIDATION>
    <FTSPMCEXECUTION>FTS PMC</FTSPMCEXECUTION>
    <SEALINGPMCVALIDATION>FBD PMC</SEALINGPMCVALIDATION>
    <SEALINGPMCEXECUTION>FBD PMC</SEALINGPMCEXECUTION>
    <TTLDOUBLELINECHECKER>DLC</TTLDOUBLELINECHECKER>
    <CLIPSANDADAPTORS>CLIPS AND ADAPTORS</CLIPSANDADAPTORS>
    <FLANGETHICKNESS>FLANGE THICKNESS</FLANGETHICKNESS>
    <HIT>HIT</HIT>
    <CONVOLUTEBLOCK>SMART CVT</CONVOLUTEBLOCK>
    <COMBOBLOCK>SMART CVT</COMBOBLOCK>
    <SMOOTHBLOCK>SMART CVT</SMOOTHBLOCK>
    <STICKMODEL>SMART CVT</STICKMODEL>
    <MULTI3DOPERATIONS>MULTI 3D OPS</MULTI3DOPERATIONS>
  </AppTags>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <handlers>
      <add name="aspNetCore" path="api/*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\UMT.Backend.New.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    <rewrite>
      <rules>
        <rule name="API" stopProcessing="true">
          <match url="^api/.*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>